h2 {
    text-align:center; 
    font-family: Ravie, fantasy, cursive, arial;
}

hr {
    width:auto;
    margin-bottom:auto
}

.nav nav-pills li a {
    text-align:left;
    padding: 25px;  
    
}
.jumbotron {
    align-content: center;
    padding: 1px;
    text-align: center;
    background-color: blanchedalmond;
    height: 30px;
}

.menu hr {
    width:auto;
}

.footer {
    text-align:center;
    
}

.fontsizeth {
    font-size: 20px;
    text-align: center;  
    width: auto;
}
.fontsizeth1 {
    font-size: 20px;
    text-align: center;
    padding-left: 80px;
    padding-right: 50px;
}

#backgroudmenu {
    background-color: antiquewhite;
    height: 525px;
    width: auto;
    
}    

#backgrouHomePage {
    background-color: antiquewhite;
    height: 525px;
}

.box1, .box2, .box3, .box4, .box5 {
    font-weight: bold;
}

.table-responsive {
    height: 500px;
    background-color: antiquewhite;
}




