h2 {
    text-align:center; 
    font-family: Ravie, fantasy, cursive, arial;
}

hr {
    width:auto;
    margin-bottom:auto
}

.menu a {
    text-align:left;
    padding: 25px;    
    
}

.menu a:link {
    color: blue;
}

.menu a:visited {
    color:red;
}
    
.menu a:hover {
    font-weight: bold;
    text-decoration: none;
}
    
.menu a:active {
    text-decoration: none;
}

.menu hr {
    width:auto;
}

.footer {
    text-align:center;
    
}

.fontsizeth {
    font-size: 20px;
}

#backgroudmenu {
    background-color: antiquewhite;
    height: 525px;
    width: auto;
    
}    

#backgrouHomePage {
    background-color: antiquewhite;
    height: 525px;
}

.box1, .box2, .box3, .box4, .box5 {
    font-weight: bold;
}




