.table {
    text-align:center;
}

#width1 {
    width:125px;
    }

#width2 {
    width:375px;
    }

#image {
    display: block;
    background-image: url("https://30daysout.files.wordpress.com/2013/04/rolling-stones-logo.jpg?w=400");
    height: 350px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

h3 {
    Text-align:center;
    font-family: Ravie, fantasy, cursive, arial;
    border-collapse: collapse;
    
}